<body>
    <nav>
        <div class="navlogo">
            <a href="/products"><span><i class="fa-solid fa-list"></i></span> All Category</a>
            <a href="/products/mobiles">mobile</a>
            <a href="/products/laptops">Laptops</a>
            <a href="/products/tablets">Tablets</a>
            <a href="#"></a>
        </div>
        <div class="nav-links">
            <a href="#"><span><i class="fa-solid fa-phone"></i></span>+974-50537411</a>
        </div>
    </nav>
</body>