<% layout("layouts/boilerplate.ejs") -%>
<body>

    <div class="category">
        <div class="mobile">
            <div class="mobile-content">
                <a href="/products/mobiles">
                    <img src="https://static.alaneesqatar.qa/2023/06/icon-Smartphone.png" alt="Mobile">
                </a>
                 
            </div>
        </div>
    
        <div class="laptops">
            <div class="laptop-content">
               <a href="/products/laptops">
                <img src="https://static.alaneesqatar.qa/2023/06/icon-laptops.png" alt="Laptops">
               </a>
                
            </div>
        </div>
    
        <div class="tablet">
            <div class="tablet-content">
                <a href="/products/tablets">
                    <img src="https://static.alaneesqatar.qa/2023/06/icon-tablets.png" alt="Tablet">
                </a>
               
            </div>
        </div>
      
    </div>
    
</body>